@font-face {
  font-family: 'Pretendard-Black';
  src: url('/font/Pretendard-Black.otf') format('woff');
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('/font/Pretendard-ExtraBold.otf') format('woff');
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/font/Pretendard-Bold.otf') format('woff');
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('/font/Pretendard-SemiBold.otf') format('woff');
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('/font/Pretendard-Medium.otf') format('woff');
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('/font/Pretendard-Regular.otf') format('woff');
}
@font-face {
  font-family: 'Pretendard-Light';
  src: url('/font/Pretendard-Light.otf') format('woff');
}
@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('/font/Pretendard-ExtraLight.otf') format('woff');
}
@font-face {
  font-family: 'Pretendard-Thin';
  src: url('/font/Pretendard-Thin.otf') format('woff');
}

.fontBlack {
  font-family: 'Pretendard-Black';
}

.fontEB {
  font-family: 'Pretendard-ExtraBold';
}

.fontBold {
  font-family: 'Pretendard-Bold';
}

.fontSB {
  font-family: 'Pretendard-SemiBold';
}

.fontMedium {
  font-family: 'Pretendard-Medium';
}

.fontRegular {
  font-family: 'Pretendard-Regular';
}

.fontLight {
  font-family: 'Pretendard-Light';
}

.fontEL {
  font-family: 'Pretendard-ExtraLight';
}

.fontThin {
  font-family: 'Pretendard-Thin';
}
